bin
gen
.DS_Store
tmp
*.pyc
/django-quiz/databases/*.db*
local.properties
computers-full/keys/
computers-lite/keys/
programming-full/keys/
programming-lite/keys/
out/
# Intellij project files
*.iml
*.ipr
*.iws
.idea/
