# other
.DS_Store
tmp

# Eclipse, Ant, Maven
bin
gen
target

# Django
*.pyc
/django-quiz/databases/*.db*

# Android
local.properties

# release, signing
computers-full/keys/
computers-lite/keys/
programming-full/keys/
programming-lite/keys/

# Intellij project files
#*.iml
#*.ipr
#*.iws
.idea

# gradle files
.gradle
build
/gradle
/gradlew
/gradlew.bat
