.DS_Store
bin
gen
target
tmp
*.pyc
/django-quiz/databases/*.db*
local.properties
computers-full/keys/
computers-lite/keys/
programming-full/keys/
programming-lite/keys/
out/
# Intellij project files
#*.iml
#*.ipr
#*.iws
# some files are added though, on purpose
.idea
out
backups
