<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.manyquiz.programming.full"
          android:versionCode="2"
          android:versionName="1.4.2">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>

    <application
            android:name="com.manyquiz.android.application.FullQuizApplication"
            android:allowBackup="false"
            android:icon="@drawable/launcher_main"
            android:label="@string/app_name"
            android:theme="@style/Theme.Light.NoTitleBar">
        <activity
                android:name="com.manyquiz.android.activity.IntroActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.manyquiz.android.activity.QuizActivity"
                android:label="@string/label_quiz_activity">
        </activity>
        <activity
                android:name="com.manyquiz.android.activity.SettingsActivity"
                android:label="@string/label_settings_activity"
                android:theme="@style/Theme.Dialog">
        </activity>
        <activity
                android:name="com.manyquiz.android.activity.ResultsActivity"
                android:label="@string/label_results_activity"
                android:theme="@style/Theme.Dialog">
        </activity>
    </application>

</manifest>
